body {
	background: #EEE url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAIAAADZSiLoAAAAHElEQVQIHWP48+fP9+/f////zwCkgBwQC4ghAACODRqkCkEF0QAAAABJRU5ErkJggg==) repeat;
	overflow: hidden;
	margin: 0px;
}

/*Canvas element - initially hidden*/
canvas {
	cursor: normal;
	display: none;
}

#info {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
	background-color: white;
	width: 100%;
	height: 35px;
	text-align: left;
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.4);
	font-size: 14px;
	line-height: 36px;
	padding-left: 25px;
}

#info a {
	color: deeppink;
	text-decoration: none;
}

#info a:hover {
	color: hotpink;
}